img{
    margin-left: 45%;
    margin-top: 5%;
    border: 10px solid red;
    border-radius: 20%;
}
header{
    text-align: center;
    font-size: 50px;
}
body{
    background-color: black;
    color: white;
    font-family: cursive;
}
p{
    text-align: center;
}
ul{
    margin-top: 5%;
    margin-left:30%;
}
ol{
    margin-top: 5%;
    margin-left:30%;
}
footer{
    text-align: center;
}
